.intro_grid{
    display:grid;
    grid-template-columns: 200px auto 100px;
    grid-template-rows: 200px auto 100px;
    grid-gap: 20px;
}

.itens{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.item2{
    display:grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 2fr 2fr;
    grid-gap: 5px;
}

.subitem{
    margin: 5px;
    display: inline-block;
    background-color: aqua;
}