/*Inicializacao padrao*/
* {
    margin: 0;
    padding: 0;
    border: 1;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul, ol, li {
    list-style: none;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 1em;
    margin: 1em; }

li {
    font-weight: bold;
    font-size: 4rem;
    position: relative;
}

li.highlight-box {
    grid-row: 1 2;
    grid-column: 1 2;
}
    
li.highlight-tall {
    grid-row: span 2;
}

li.highlight-wide {
    grid-column: span 2;
}

span {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}